# Flask Framework Packages

click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug

# Flask Functionality Packages

Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask-Admin
WTForms
Flask-Limiter
flask_talisman
flask-qrcode

# Extension packages
pyotp
argon2-cffi
cryptography
email_validator
python-dotenv
