# Flask Framework Packages

click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug

# Flask Functionality Packages

Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask-Admin
WTForms

# PT 10
Flask-Limiter

# PT 11
pyotp
flask-qrcode

# PT 16
argon2-cffi