{% extends 'base.html' %}

{% block content %}

<!-- Basic page layout and CSS -->
<div class="container">
        <h1>MFA Set Up</h1>

        <div class="p-2 row">
                <div class="col-3"></div>
                <div class="col-6">

                        <div class="p-2 bg-light border border-primary">
                                <div style="text-align: left">

                                        <!-- Handle and render flash images -->
                                        <div>
                                                {% with messages = get_flashed_messages(with_categories=true) %}
                                                {% for category, message in messages %}
                                                <div class="alert alert-{{ category }} mt-3 alert-dismissible" role="alert">
                                                        {{ message }}
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" onclick=delete_flash(this)>
                                                                <span>&times;</span>
                                                        </button>
                                                </div>
                                                {% endfor %}
                                                {% endwith %}
                                        </div>

                                        <!-- Open microsoft authenticator -->

                                        <div>
                                                <ol class="mx-2 my-2 p-2">
                                                
                                                        <li> Open Microsoft Authenticator on your mobile. </li>

                                                        <li> Alternatively, <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_GB">install Google Authenticator</a> on your mobile.</li>

                                                        <!-- Open authenticator app -->
                                                        <li> Select add new account. </li>

                                                        <!-- Enter code -->
                                                        <li> Either manually enter the code <em>or</em> scan the QR code below. </li>
                                                
                                                </ol>

                                                <div class="text-center mx-auto">

                                                        <!-- MFA code info -->
                                                        <h2 style="text-align: center">Code</h2>
                                                        <p class = "text-center">{{ key }} </p>

                                                        <h2 style="text-align: center">QR</h2>
                                                        <img src="{{ qrcode(qr, box_size=5, border=5) }}" alt="QR Code" />

                                                </div>
                                
                                        </div>

                                        <!-- Login link -->
                                        <p>Once you have recieved a code, <a href="/login">click here</a>.</p>
                                        
                                </div>
                        </div>
                </div>

                <div class="col-3"></div>
        </div>
    
</div>
{% endblock %}