<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>CSC2031</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css'>
</head>
<body>
<style>
    .table {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<section class='container-fluid p-3 my-3'>

    <nav class='nav nav-pills flex-column flex-sm-row'>
        <!-- Menu link home -->
        <a class='nav-item nav-link' href='{{ url_for("index") }}'>Home</a>

        <!-- Menu link registration -->
        <a class='nav-item nav-link' href='{{ url_for("accounts/registration") }}'>Registration</a>

        <!-- Menu link login -->
        <a class='nav-item nav-link' href='{{ url_for("accounts/login") }}'>Login</a>

        <!-- Menu link account -->
        <a class='nav-item nav-link' href='{{ url_for("accounts/account") }}'>Account</a>

        <!-- Menu link posts -->
        <a class='nav-item nav-link' href='{{ url_for("posts/posts") }}'>Posts</a>

        <!-- Menu link create -->
        <a class='nav-item nav-link' href='{{ url_for("posts/create") }}'>Create</a>
        
        <!-- Menu link security -->
        <a class='nav-item nav-link' href='{{ url_for("security/security") }}'>Security</a>

    </nav>

    <div class='container-fluid p-3 my-5 text-center'>

    {% block content %}
        <!-- Here is content of any template extending the base template -->
    {% endblock %}
    
    </div>
</section>

</body>
</html>